pkgbase = aurx
	pkgdesc = A simple bash script for easily managing AUR installs.
	pkgver = 1.0.8
	pkgrel = 2
	url = https://github.com/mvtab/aurx
	arch = x86_64
	license = GPL-3.0-only
	depends = curl>=7.68.0
	depends = git
	depends = jq
	source = aurx
	sha256sums = f12f4f1374c481bb30d813f8ce67164b70963ea32ff2191ec31268bcd3e1b8c4

pkgname = aurx
