pkgbase = aurx
	pkgdesc = A simple bash script for easily managing AUR installs.
	pkgver = 1.0.6
	pkgrel = 3
	url = https://github.com/mvtab/aurx
	arch = x86_64
	license = GPL-3.0-only
	depends = curl>=7.68.0
	depends = git
	depends = jq
	source = aurx
	sha256sums = 811144ff6f413903f555c428db5f5c347acf60b1c6d2d927bcfe33f2fdebbd3e

pkgname = aurx
