pkgbase = aurx
	pkgdesc = A simple bash script for easily managing AUR installs.
	pkgver = 1.0.6
	pkgrel = 2
	url = https://github.com/mvtab/aurx
	arch = x86_64
	license = GPL-3.0-only
	depends = curl>=7.68.0
	depends = git
	depends = jq
	source = aurx
	sha256sums = dbcfc3c0f30c8ac788c64271753640ae2e7db0c3fa253982a59b8e107b65dde8

pkgname = aurx
